.card-container-product{
    padding: 5px;
    margin-right: 20px;
    height: 280px;
    width: 200px;
    white-space: normal;
    cursor: pointer;
}

.img-card-product{
    height: 100%; max-width: 100%;
}

.card-container-product:hover > div >.img-card-product.img-product{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 11px;
    line-height: 1.4;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical ;
    overflow: hidden ;
    text-overflow: ellipsis ;
  }
  .block-ellipsis.product{
    font-size: 14px;
  }

  .product-price{
    color: #15d2bb;
    overflow: hidden;
    text-overflow: ellipsis;
}
