<div class="card-container-product d-inline-block border rounded align-top" style="margin-bottom: 40px;" align="center"
  (click)="viewProduct()">
  <div style="height: 7%;">
    <span *ngIf="countInCart>0" class="badge badge-orange align-middle float-right">
      <i class="fas fa-shopping-cart mr-1"></i>
      {{countInCart}}
    </span>
  </div>
  <div style="height: 58%;" class="">
    <img src="{{imgProduct}}" class="img-card-product img-product">
  </div>
  <div style="height: 25%; padding-top: 5px">
    <p class="block-ellipsis product">{{productName}}</p>
  </div>
  <div style="height: 10%;" class="product-price">
    ${{productPrice | number}}
  </div>
</div>