<div class="container" align="center">

  <div class="row">
    <div class="col-md-4 offset-md-4" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-top: 50px; border-radius: 5px; padding: 20px;">

      <div class="row">
        <div class="col-md-1 color-plac-text">Volver</div>
      </div>
      <br>

      <img src="/favicon.ico" width="50" height="50" class="d-inline-block align-top" alt="">

      <br>
      <br>
      <p>Ingresar con</p>

      <div class="row">
        <div class="col-md-2">
          <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        </div>
        <div class="col-md-10">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">+57</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
      <p>ó</p>
      <button type="button" class="btn btn-primary  btn-block" style="background-color: #3B5998; border-color:#3B5998;">Iniciar sesión con Facebook</button>
      <button type="button" class="btn btn-primary  btn-block" style="background-color: #D54B3D; border-color:#D54B3D;">Iniciar sesión con Google</button>

      <br>
      <br>
      <p style="font-size: 13px;">Al hacer click aceptas los
        <b>Términos y Condiciones</b> de Uso políticas de
        <b>Habeas Data</b>
      </p>
      <br>
      <button type="button" class="btn btn-outline-secondary button-entrar">Entrar</button>

    </div>
  </div>

</div>