<div
  style="
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('assets/img/what-is-view/fondo.png');
    background-position: top;
    background-size: cover;
  "
  class="d-flex justify-content-center align-items-center"
>
  <h2 style="color: white" align="center">
    Un homenaje a las mascotas del mundo
  </h2>
</div>
<div
  class="border-radius-container d-flex justify-content-center"
  style="
    position: relative;
    top: -20vh;
    padding-top: 15vh;
    margin-bottom: -20vh;
    overflow: hidden;
  "
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-12" align="center">
        <span class="color-plac-text">plac</span> pone a tu disposición la
        primera red social exclusiva para mascotas junto a un marketplace con la
        más grande variedad de marcas y productos innovadores en pro del
        bienestar de los consentidos de la casa. <br /><br /><br />
        <br /><br /><br />
      </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 60px">
      <div class="col-sm-4 col-12" align="center">
        <h3><b>La red social</b></h3>
        <br />
        En <span class="color-plac-text">plac</span> puedes compartir los
        mejores momentos con tu masctota, seguir a otros usuarios, comentar y
        vivir una experiencia diferente al lado de estos seres tan especiales
        para todos.
      </div>
      <div class="col-sm-4 col-12" align="center">
        <h3>
          <b>El market<span class="color-plac-text">plac</span>e</b>
        </h3>
        <br />
        Las empresas crean una cuenta en
        <span class="color-plac-text">plac</span> registrando la información más
        relevante de sus negocios junto a sus productos o servicios para que los
        usuarios puedan comprar de manera ágil, efectiva y económica.
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8 col-12" align="center">
        Descarga la aplicación haciendo clic en los logos de abajo
        <br />
        <img
          class="zoom pointer"
          width="150"
          src="assets/img/download-view/ios.png"
          (click)="goTo('download-ios')"
        />
        <img
          class="zoom pointer"
          width="150"
          src="assets/img/download-view/android.png"
          (click)="goTo('download-android')"
        />
        <br /><br /><br />
      </div>
    </div>
  </div>
</div>
