<div class="container-fluid">
  <div class="row container-category-color" [ngStyle]="{'background-color':(categoryPropieties)?categoryPropieties.category_color:''}">
    <div class="col no-padding container-category-image rotate-container-category-image" [ngStyle]="{'background-image': (categoryPropieties)?'url(' + categoryPropieties.category_img_url + ')':''}"></div>
    <div class="col-6 col-sm-auto  no-padding d-flex align-items-center justify-content-center category-title-container">
      <h1 class="d-none d-sm-none d-md-block text-center">{{categoryReceivedByRoute}}</h1>
      <h2 class="d-block d-sm-block d-md-none text-center">{{categoryReceivedByRoute}}</h2>
    </div>
    <div class="col no-padding container-category-image" [ngStyle]="{'background-image': (categoryPropieties)?'url(' + categoryPropieties.category_img_url + ')':''}"></div>
  </div>
</div>
<!--router outlet de producto-->
<router-outlet></router-outlet>
<!--fin router outlet de producto-->

<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center subcategory-container">
      <app-subcategories [needReset]="needResetSubcategory" [categoryName]="categoryReceivedByRoute"
        (subcategorySelected)="changeSubcategory($event)"></app-subcategories>
    </div>
    <div class="col-sm-auto col-12 ng-sidebar-width brands">
      <app-brands [needReset]="needResetBrand" [categoryId]="categoryPropieties.category_id" [subcategoryId]="subcategoryIdSelected"
        (brandSelected)="changeBrand($event)"></app-brands>
    </div>


    <div class="col-sm-auto col-12 container-products container-fluid">


      <ol class="breadcrumb breadcrumbs-container color-dark-gray-text">
        <li class="breadcrumb-item" [ngClass]="{'active': subcategorySelected == null && productBrandSelected ==null}"
          (click)="manageBreadcrumbs(1)">
          <span>{{categoryReceivedByRoute}}</span>
        </li>
        <li class="breadcrumb-item" *ngIf="subcategorySelected" [ngClass]="{'active': productBrandSelected ==null}"
          (click)="manageBreadcrumbs(2)">
          <span>{{subcategorySelected}}</span>
        </li>
        <li class="breadcrumb-item active" *ngIf="productBrandSelected" (click)="manageBreadcrumbs(3)">
          <span>{{productBrandSelected}}</span>
        </li>
      </ol>
      <loader *ngIf="loader"></loader>
      <!--INICIO: lista de productos scroll horizontal-->
      <div *ngIf="!loader">
        <carousel-arrows *ngFor="let place of placesWithProducts">

          <!-- Inicio: Card perfil empresa-->
          <app-place-card [placeId]="place.place_id" [placeDescription]="place.place_description" [placePathImageLogo]="place.path_image_logo"
            [placeAssessment]="place.rating" [placeName]="place.place_location_name" [placeToProfile]="place" [brandToProfile]="productBrandSelected"
            [categoryToProfile]="categoryReceivedByRoute" [subcategoryNameToProfile]="subcategorySelected" [subcategoryIdToProfile]="subcategoryIdSelected">
          </app-place-card>
          <!-- Fin: Card perfil empresa-->

          <!-- Inicio: Card producto-->
          <app-product-card *ngFor="let product of place.products.data" [productId]="product.product_id" [imgProduct]="product.product_link_image"
            [productName]="product.product_name" [productPrice]="product.product_price">
          </app-product-card>
          <!-- Fin: Card producto-->

          <!--FIN: lista de productos scroll horizontal-->
        </carousel-arrows>
        <div class="d-flex justify-content-center mb-5">
          <button *ngIf="placesPaginator" class="btn btn-plac" (click)="getMorePlacesWithProducts()">ver más</button>
        </div>
      </div>



    </div>
  </div>