<loader *ngIf="!place"></loader>

<router-outlet></router-outlet>

<div class="" style="height: auto;" *ngIf="place">

  <div class="d-none d-lg-flex d-xl-flex" style="height: 300px;" [ngStyle]="{'background': ' url('+ place.path_image1 +') no-repeat center', 'background-size': 'cover'}">

  </div>


  <div class="container-fluid">

    <div class="row">

      <div class="col-12 border-bottom">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 d-flex justify-content-center" style="margin-top:10px">
              <div class="input-group">
                <input style="padding: 7px; height: 37px;" #searchInput [(ngModel)]="searchText" (keyup.enter)="onEnterSearch(searchInput)"
                  class="form-control " type="search" placeholder="Buscar productos en {{place.place_location_name}}">
                <div class="input-group-append" style="height: 37px;">
                  <button class="btn btn-outline-plac" type="button" (click)="onEnterSearch(searchInput)">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding: 15px">
            <div class="col-12 col-md-auto" align="center">
              <img [src]="place.path_image_logo" class="img-logo-place rounded">
            </div>
            <div class="col-12 col-md-6">
              <h5><b>{{place.place_location_name}}</b></h5>
              <p style="font-size: 11px; line-height: 1.4" class="text-muted">{{place.place_description}}</p>
              <span class="border-right px-2">{{operationCities}}</span>
              <span class="border-right px-2">{{productsCount}} Articulos</span>
              <span class="px-2">{{ordersCount}} Ventas</span>
              <br>
              <div class="color-plac-text">
                <i class="fas fa-star" *ngFor='let stars of arrayAssessmentStars'></i>
                <i class="far fa-star" *ngFor='let stars of arrayAssessmentNoStars'></i>
                {{arrayAssessmentStars.length}}
              </div>
            </div>
            <div class="col-12 col-md-3 ml-auto ">
              <div class="row justify-content-center">
                <div class="col-auto">
                  <div class="align-self-center" *ngIf="deliverySchedules != null">
                    Horarios de envio:
                    <div *ngFor="let schedule of deliverySchedules">
                      <div *ngIf="schedule.isOpened" style="font-size: 11px; line-height: 1.4">
                        {{schedule.period}}: {{schedule.am}}AM a {{schedule.pm}}PM
                      </div>
                      <div *ngIf="!schedule.isOpened" style="font-size: 11px; line-height: 1.4">
                        {{schedule.period}}: no abre
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="align-self-center" style="margin: 10px">
                    <i class="fas fa-shipping-fast color-plac-text" style="font-size: 20px"></i>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center" *ngIf="(promotion)?promotion.isActive:false">
                <p align="center">
                  <br>
                  {{promotion.text}}
                  <img style="height:16px; display: inline;" src="{{promotion.image}}">
                  <br>
                  <span class="text-muted" style="font-size: 12px">{{promotion.expired}}</span>
                </p>
              </div>

              <!--
              <div class="align-self-center" *ngIf="deliverySchedules != null">
                Horarios de envio:
                <div *ngFor="let schedule of deliverySchedules">
                  <div *ngIf="schedule.isOpened" style="font-size: 11px; line-height: 1.4">
                    {{schedule.period}}: {{schedule.am}}AM a {{schedule.pm}}PM
                  </div>
                  <div *ngIf="!schedule.isOpened" style="font-size: 11px; line-height: 1.4">
                    {{schedule.period}}: no abre
                  </div>
                </div>
              </div>
              <div class="align-self-center" style="margin: 10px">
                <i class="fas fa-shipping-fast color-plac-text" style="font-size: 20px"></i>
              </div>
              <div>Hola</div>
-->
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 col-sm-12 d-flex justify-content-center" style="margin-top:15px; overflow-x: auto">
        <button *ngFor="let category of place.categories" (click)="selectCategory(category)" class="btn btn-outline-plac btn-outline-plac-variation"
          [ngClass]="{'active': categorySelected ==category.category_name}" [ngStyle]="{'background-image':'url('+category.category_img_url+')'}"
          style="height: 42.5px;background-size: auto 42.5px;background-repeat: no-repeat;background-position: right center; margin: 0 3px;margin-bottom: 15px; padding-right: 30px">{{category.category_name}}</button>
      </div>



      <div class="col-12 d-flex justify-content-center subcategory-container" *ngIf="categorySelected && categoryArray.length>=1">
        <app-subcategories [needReset]="needResetSubcategory" [categoryName]="categorySelected" [preLoadSubcategories]="subcategories"
          [preLoadSelected]="subcategorySelected" (subcategorySelected)="selectSubcategory($event)"></app-subcategories>
      </div>

      <div class="col-sm-auto col-12 ng-sidebar-width">
        <app-brands [needReset]="needResetBrand" [categoryId]="categoryIdSelected" [subcategoryId]="subcategoryIdSelected"
          [search]="searchText" [preBrandSelected]="brandSelected" (brandSelected)="selectBrand($event)" [placeId]="place.place_id"></app-brands>
      </div>

      <div class="col-sm-auto col-12 container-products container-fluid">

        <ol class="breadcrumb breadcrumbs-container color-dark-gray-text">
          <li class="breadcrumb-item" [ngClass]="{'active': subcategoryNameSelected == null && brandSelected ==null && categorySelected ==null}"
            (click)="manageBreadcrumbs(1)">
            <span>{{place.place_location_name}}</span>
          </li>
          <li *ngIf="categorySelected" [ngClass]="{'active': subcategoryNameSelected == null && brandSelected ==null}"
            class="breadcrumb-item" (click)="manageBreadcrumbs(2)">
            <span>{{categorySelected}}</span>
          </li>
          <li *ngIf="subcategoryNameSelected" [ngClass]="{'active': brandSelected ==null}" class="breadcrumb-item"
            (click)="manageBreadcrumbs(3)">
            <span>{{subcategoryNameSelected}}</span>
          </li>
          <li *ngIf="brandSelected" class="breadcrumb-item active" (click)="manageBreadcrumbs(4)">
            <span>{{brandSelected}}</span>
          </li>
        </ol>


        <loader *ngIf="loaderProducts"></loader>
        <div *ngIf="!loaderProducts">
          <app-product-card *ngFor="let product of products" [productId]="product.product_id" [imgProduct]="product.product_images[0].url"
            [productName]="product.product_name" [productPrice]="product.product_price">
          </app-product-card>
          <div class="d-flex justify-content-center">
            <button *ngIf="productsPaginator.next_page_url" class="btn btn-plac" (click)="getMoreProducts()">ver más</button>
          </div>
          <br>
          <br>
        </div>


      </div>

    </div>




  </div>

</div>