.container-products {
    width: calc(100vw - 300px);
}

.color-dark-gray-text>.breadcrumb-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #00B99B;
}

.breadcrumbs-container {
    background-color: transparent;
    margin-bottom: 0;
    min-height: auto;
}

.color-dark-gray-text>.breadcrumb-item.active,
.color-dark-gray-text>.breadcrumb-item.active:hover {
    color: #00B99B;
    text-decoration: none;
    cursor: default;
}

.img-logo-place {
    height: 120px;
}

.subcategory-container {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding: 15px;
    background-color: #fdfdfd;
}

.brands::-webkit-scrollbar {
    display: none;
}

.brands {
    height: auto
}

@media (min-width: 992px) {
    .brands {
        overflow-y: auto;
        height: 90vh
    }
}