<loader *ngIf="!place"></loader>

<router-outlet></router-outlet>

<div class="" style="height: auto;" *ngIf="place">

  <div style="height: 100px; background-repeat: no-repeat; background-size: cover; background-position: center"
    [style.backgroundImage]="'url('+ place.path_image1 +')'">

  </div>
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 col-md-3 border" style="height: 100px;">
        {{place.place_description}}
      </div>
      <div class="col-12 col-md-3 border" style="height: 100px;">

      </div>
      <div class="col-12 col-md-3 border" style="height: 100px;">
        valoracion:
        {{place.assessment}}
      </div>
      <div class="col-12 col-md-3 border" style="height: 100px;">
        <!--
        {{place.delivery_schedules}}
        {{place.delivery_time}}
        -->
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button *ngFor="let category of place.categories" (click)="selectCategory(category)" class="btn btn-link" [ngClass]="{'active': categorySelected ==category.category_name}">{{category.category_name}}</button>
      </div>


      <div class="col-12 d-flex justify-content-center" *ngIf="categorySelected">
        <app-subcategories [needReset]="''" [categoryName]="categorySelected" [preLoadSubcategories]="subcategories"
          [preLoadSelected]="subcategorySelected" (subcategorySelected)="selectSubcategory($event)"></app-subcategories>
      </div>

      <div class="col-sm-auto col-12 ng-sidebar-width" >
        <app-brands [needReset]="''" [categoryId]="categoryIdSelected" [subcategoryId]="subcategoryIdSelected" [preBrandSelected]="brandSelected" (brandSelected)="selectBrand($event)"
          [placeId]="place.place_id"></app-brands>
      </div>
      
      <div class="col-sm-auto col-12 container-products container-fluid">

        <ol class="breadcrumb breadcrumbs-container color-dark-gray-text">
          <li class="breadcrumb-item">
            <span>Alimentos</span>
          </li>
          <li class="breadcrumb-item">
            <span>Barf</span>
          </li>
          <li class="breadcrumb-item active">
            <span>PIXIE</span>
          </li>
        </ol>


        <loader *ngIf="!products"></loader>
        <div *ngIf="products">
          <app-product-card *ngFor="let product of products" [productId]="product.product_id" [imgProduct]="product.product_images[0].url"
            [productName]="product.product_name" [productPrice]="product.product_price">
          </app-product-card>
          <div class="d-flex justify-content-center">
            <button *ngIf="productsPaginator.next_page_url" class="btn btn-plac" (click)="getMoreProducts()">ver mas</button>
          </div>
          <br>
          <br>
        </div>


      </div>

    </div>




  </div>

</div>