<div class="img-background">
  <div class="container-fluid">


    <div class="row" style="padding: 50px; padding-bottom: 150px">
      <div class="col-12" align="center">
        <button class="btn btn-link " routerLink="/equipo">
          <h4>El equipo</h4>
        </button>
        <button class="btn btn-link" routerLink="/empleo">
          <h4>Empleo</h4>
        </button>
        <button class="btn btn-link active" routerLink="/prensa">
          <h4>Prensa</h4>
        </button>
      </div>
    </div>
  </div>
  <h2 style="color:white" align="center" class="align-middle">
    Prensa
  </h2>
</div>


<div class="border-radius-container d-flex justify-content-center" style="position: relative; top: -20vh; padding-top:15vh; margin-bottom: -20vh; overflow: hidden;">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-12" align="center">

        <h2>Contacto</h2>
        <button class="btn btn-outline-plac btn-outline-plac-variation">prensa@placapp.com</button>
        <br><br><br>

      </div>

    </div>

    <div class="row">
      <div class="container">
        <div class="col-12 col-sm-6">
          A nuestro equipo de prensa le encanta trabajar con periodistas de todo el mundo para compartir historias
          interesantes y motivadoras. Si trabajas para un medio de comunicación y quieres hablar, ponte en contacto con
          el equipo correspondiente o escribe a prensa@placapp.com
          <br><br>
          Solo se responderá a medios de comunicación. Si eres un vendedor o comprador de <span class="color-plac-text">plac</span> y tienes alguna pregunta
          sobre el sitio, visita: www.placapp.com/vende-en-plac/preguntas
          <br><br><br>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 p-3" align="center">
        <div class="bg-white rounded" style="padding:7px" align="center">
          <h3>2017</h3>
        </div>
        Fundada
      </div>
      <div class="col-3 p-3" align="center">
        <div class="bg-white rounded" style="padding:7px" align="center">
          <h3>7</h3>
        </div>
        Empleos a la fecha
      </div>
      <div class="col-3 p-3" align="center">
        <div class="bg-white rounded" style="padding:7px" align="center">
          <h3>{{(info)?info.products:''}}</h3>
        </div>
        Artículos en venta
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-3 p-3" align="center">
        <div class="bg-white rounded" style="padding:7px" align="center">
          <h3>{{(info)?info.places:''}}</h3>
        </div>
        Empresas activas
      </div>
      <div class="col-3 p-3" align="center">
        <div class="bg-white rounded" style="padding:7px" align="center">
          <h3>{{(info)?info.pets:''}}</h3>
        </div>
        Mascotas activas
      </div>
      <div class="col-3 p-3" align="center">
        <div class="bg-white rounded" style="padding:7px" align="center">
          <h3>Bogotá - Medellin</h3>
        </div>
        Ciudades
      </div>
    </div>

  </div>
</div>