.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom:active {
    -ms-transform: scale(.9);
    /* IE 9 */
    -webkit-transform: scale(.9);
    /* Safari 3-8 */
    transform: scale(.9);
}

.img-cel{
    width: 120%;
    height: auto;
}

@media (max-width: 991.98px) {
    .img-cel{
        width: 100%;
        height: auto;
    }
}