<div class="container-fluid">
  <div class="row" style="height: 92vh">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div align="center">
        <img src="assets/img/logo-PLAC-01.svg" width="150" />
        <h1 class="color-plac-text">Descarga gratis la app de plac</h1>
        <h2 class="color-medium-gray-text">
          Y conéctate con el mundo de tu mascota
        </h2>
        <br />
        <br />
        <br />
        <br />
        <h5>Descarga la aplicación haciendo clic en los logos de abajo.</h5>
        <img
          class="zoom pointer"
          width="150"
          src="assets/img/download-view/ios.png"
          (click)="goTo('download-ios')"
        />
        <img
          class="zoom pointer"
          width="150"
          src="assets/img/download-view/android.png"
          (click)="goTo('download-android')"
        />
      </div>
    </div>
  </div>

  <div class="row" style="background-color: #fdfdfd">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row">
        <div
          class="col-sm-6 justify-content-center align-items-center d-flex d-sm-flex d-lg-none"
        >
          <img class="img-cel" src="assets/img/download-view/img1.png" />
        </div>
        <div class="col-sm-6 d-flex justify-content-center align-items-center">
          <div class="container">
            <h2>
              <b> La red social más cariñosa de todas. </b>
            </h2>
            <h4>
              Guarda y comparte los mejores momentos con tu mascota, su compañia
              y cariño hacen que los humanos seamos más felices.
            </h4>
          </div>
        </div>
        <div
          class="col-sm-6 justify-content-center align-items-center d-none d-lg-flex d-xl-flex"
        >
          <img class="img-cel" src="assets/img/download-view/img1.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 50px; padding-bottom: 20vh">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center">
          <img class="img-cel" src="assets/img/download-view/img2.png" />
        </div>
        <div class="col-sm-6 d-flex justify-content-center align-items-center">
          <div class="container">
            <h2>
              <b>
                La mayor variedad de productos y servicios en un solo lugar.
              </b>
            </h2>
            <h4>
              En plac ponemos a tu disposición la más grande linea de productos
              y servicios que tu mascota necesita. Busca, compara y compra del
              resto nos encargamos nosotros.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
