<div class="brands-container">

  <h5 class="color-dark-green-text">Selecciona una marca</h5>
  <loader *ngIf="loader"></loader>



  <select *ngIf="!loader" class="form-control d-block d-sm-none">
    <option>--Seleccionar--</option>
    <option>Pedigree mini</option>
    <option>DOG CHOW CACHORROS</option>
    <option>PIXIE</option>
    <option>BARF DOGO</option>
  </select>

  <div *ngIf="!loader" class="d-none d-sm-block">

    <div class="contenedor-item" *ngFor="let brand of brands" id="{{brand.brand}}" [ngClass]="{'active': brand.isActive>0}">
      <span>
        <span>{{brand.brand}}</span>
      </span>
    </div>

  </div>

</div>