<div style="width: 100%; background-color: white">
  <br />
  <div class="container">
    <h3>
      <b>Carrito de compras</b>
    </h3>
    <small
      >Aqui se encuentran tus producto, estas a un paso de adquirirlos</small
    >
  </div>
  <div *ngIf="cartEmpty" style="height: 100%" align="center">
    <br />
    <br />
    <i class="fas fa-shipping-fast" style="font-size: 25px; color: #bbbab9"></i>
    <h4>Tu carrito esta vacío</h4>
  </div>

  <div *ngFor="let placeObject of shopCart; let iPlace = index">
    <div *ngIf="shopCart.length > 0">
      <!--Div de empresa -->
      <div
        id="{{ iPlace }}"
        *ngIf="placeObject != null"
        class="border"
        style="background-color: #f7f7f7; margin-top: 25px"
      >
        <div class="col-md-12">
          <table style="height: 100%">
            <tbody>
              <tr>
                <td class="align-middle" style="width: 20%">
                  <div style="width: 70px; height: 70px">
                    <img
                      src="{{ placeObject.place.place.path_image_logo }}"
                      style="max-width: 100%; max-height: 70px"
                    />
                  </div>
                </td>

                <td class="align-middle" style="width: 50%">
                  <h5 style="font-family: Montserrat">
                    <b> {{ placeObject.place.place_location_name }}</b>
                  </h5>
                </td>

                <td class="align-middle" style="width: 20%">
                  <h5 style="font-family: Montserrat">
                    ${{ placeObject.total | number }}
                  </h5>
                </td>

                <td class="align-middle" style="width: 10%">
                  <button
                    (click)="goToBuy(iPlace)"
                    class="d-inline"
                    type="button"
                    class="btn btn-plac"
                  >
                    Comprar
                  </button>
                  <!--<button #btn (focus)="btn.blur()" (click)="goToBuy(iPlace)" class="d-inline" type="button" class="btn  btn-plac">Comprar</button>-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!--Lista de productos-->
      <div *ngIf="placeObject != null">
        <div
          *ngFor="
            let productObject of placeObject.order_detail;
            let iProduct = index
          "
        >
          <div
            class="border"
            *ngIf="productObject != null"
            id="{{ productObject.product.product_id }}"
          >
            <div
              class="col-md-12"
              [class.added-product]="
                productObject.product.product_id == added.product_id
              "
            >
              <table style="height: 100%; width: 100%">
                <tbody>
                  <tr>
                    <td class="align-middle" style="width: 5%"></td>
                    <td class="align-middle" style="width: 15%">
                      <div style="width: 70px; height: 70px">
                        <img
                          src="{{ productObject.product.product_link_image }}"
                          style="max-height: 70px; max-width: 100%"
                        />
                      </div>
                    </td>

                    <td class="align-middle" style="width: 35%">
                      <h6 style="font-family: Montserrat">
                        {{ productObject.product.product_name }}
                      </h6>
                    </td>

                    <td class="align-middle" style="width: 30%">
                      <div class="input-group mb-6">
                        <div class="input-group-prepend">
                          <button
                            (click)="decreaseUnit(iPlace, iProduct)"
                            class="btn btn-outline-plac btn-sm"
                            type="button"
                          >
                            <i
                              *ngIf="productObject.quantity >= 2"
                              class="fas fa-minus"
                            ></i>
                            <i
                              *ngIf="productObject.quantity <= 1"
                              class="far fa-trash-alt"
                            ></i>
                          </button>
                        </div>
                        <input
                          value="{{ productObject.quantity }}"
                          [disabled]="true"
                          type="text"
                          class="form-control form-control-sm"
                          style="flex: none; width: 30px; text-align: center"
                        />
                        <div class="input-group-append">
                          <button
                            (click)="addUnit(iPlace, iProduct)"
                            class="btn btn-outline-plac btn-sm"
                            type="button"
                          >
                            <i class="fas fa-plus d-inline"></i>
                          </button>
                        </div>
                      </div>
                    </td>

                    <td
                      class="align-middle"
                      style="width: 15%"
                      style="text-align: right"
                    >
                      <h6 style="font-family: Montserrat">
                        ${{ productObject.totalProduct | number }}
                      </h6>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
