<!-- nav -->
<nav class="navbar navbar-light bg-light fixed-top border-bottom" >


    <a class="navbar-brand navbar-header">
        <button (click)="_opened=!_opened" class="btn btn-light align-top btnSideMenu"><i class="fas fa-bars d-inline-block align-center"></i></button>
        &nbsp;
        <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> Bootstrap
    </a>
   
</nav>

<div class="container-fluid">
    <div class="row">

        <!--Inicio: Contenedor del menu desplegable-->
        <ng-sidebar-container class="col-md-12 no-padding wrap">

            <!--Menu desplegable-->
            <ng-sidebar [(opened)]="_opened" [mode]="'push'" [autoCollapseWidth]="600">
                <div class="wrap border-right">
                    Aqui van las opciones
                </div>
            </ng-sidebar>

            <!--contenido pagina-->
            <div ng-sidebar-content>
                <div class="wrap scroll">
                    <div class="col-md-12">
                        contenido
                        <router-outlet></router-outlet>
                    </div>

                    <div class="col-md-12 border-top">
                        footer
                    </div>
                </div>
            </div>

        </ng-sidebar-container>
        <!--fin: Contenedor del menu desplegable-->

    </div>
</div>