.wrap {
    height: calc(100vh - 57px);
}
.no-padding {
    padding-right: 0;
    padding-left: 0;
  }

  .wrap.scroll{
    overflow-y: auto;
  }

  .btnSideMenu{
    padding-top: 1px; padding-right:6px; padding-left: 6px; padding-bottom: 2px;
  }