<!-- nav -->
<app-nav  [showElement]="showElement" (opened)="_opened=!_opened"></app-nav>


<div class="container-fluid">
    <div class="row">

        <!--Inicio: Contenedor del menu desplegable-->
        <ng-sidebar-container class="col-md-12 no-padding wrap">

            <!--Menu desplegable-->
            <ng-sidebar [(opened)]="_opened" [mode]="'push'" [autoCollapseWidth]="600">
                <div class="wrap border-right">
                    <app-sidemenu></app-sidemenu>
                </div>
            </ng-sidebar>

            <!--contenido pagina-->
            <div ng-sidebar-content>
                <div class="wrap scroll">
                    <div class="col-md-12">
                        <router-outlet (activate)="componentAdded($event)"></router-outlet>
                    </div>

                    <div class="col-md-12 border-top"  *ngIf="showElement">
                        footer
                    </div>
                </div>
            </div>

        </ng-sidebar-container>
        <!--fin: Contenedor del menu desplegable-->

    </div>
</div>