<!-- nav -->
<app-nav class="d-none d-lg-block" [showElement]="showElement" (opened)="_opened=!_opened"></app-nav>


<div class="container-fluid d-none d-lg-block">
    <div class="row">

        <!--Inicio: Contenedor del menu desplegable-->
        <ng-sidebar-container class="col-md-12 no-padding wrap" >

            <!--Menu desplegable-->
            <ng-sidebar  [(opened)]="_opened" [mode]="_navBarMode" [autoCollapseWidth]="600" [closeOnClickOutside]="_closeOutside">
                <div class="wrap border-right container-categories">
                    <app-sidemenu (closeSidemenu)="_opened = false"></app-sidemenu>
                </div>
            </ng-sidebar>

            <!--contenido pagina-->
            <div ng-sidebar-content>
                <div class="wrap scroll">
                    <div class="col-md-12 no-padding">
                        <router-outlet (activate)="componentAdded($event)"></router-outlet>
                    </div>
                    <div class="col-md-12 border-top" *ngIf="showElement">
                        footer
                    </div>
                </div>
            </div>

        </ng-sidebar-container>
        <!--fin: Contenedor del menu desplegable-->

    </div>
</div>


<div class="d-block d-sm-block  d-lg-none">
    <!--Componente de descarga la app-->
    Aqui va el componente de ver en app
</div>