.wrap {
    height: calc(100vh - 137px);
    @media (min-width: 992px) {
        height: calc(100vh - 72px);
    }
}

.wrap.scroll {
    overflow-y: auto;
}

.content-page {
    min-height: 100vh;
}

.container-categories {
    background-color: white;
}

.footer {
    background-color: #fdfdfd;
    border-top: 1px solid #e2e2e2;
}

.img-footer-container {
    padding: 15px
}

.img-footer-container>img {
    height: 60px;
    width: auto;
}

.list-inline>li>a {
    color: black;
}

.list-inline>.list-inline-item>a {
    color: #555555;
    text-decoration: none;
}

.link-hover:hover {
    text-decoration: underline !important;
}

.list-inline>.list-inline-item>a:hover {
    color: #00B99B;
}

.icon-social-network {
    font-size: 20px
}

.icon-social-network-li {
    padding-bottom: 10px
}

.footer-bottom {
    border-top: 1px solid #e2e2e2;
    background-color: white;
    padding: 5px 0;
    font-size: 11px
}

.list-margin {
    margin: 0;
}

.download-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 999999999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, .175);
}