<loader *ngIf="loader"></loader>
<div
  class="d-inline-flex subcategory"
  *ngFor="let subcategory of subcategories"
>
  <button
    [ngClass]="{ active: currentSubcategorySelected === subcategory }"
    class="btn btn-outline-plac btn-outline-plac-variation"
    (click)="selectSubcategory(subcategory)"
  >
    <img
      [src]="subcategory.subcategory_img_url"
      class="rounded-circle subcategory-img-url"
    />
    <span class="subcategory-name">{{ subcategory.subcategory_name }}</span>
  </button>
</div>
