<div class="img-background">
  <div class="container-fluid">

    <div class="row" style="padding-top: 50px; padding-bottom: 150px">

      <div class="col-12" align="center">
        <button class="btn btn-link active" routerLink="equipo">
          <h4>El equipo</h4>
        </button>
        <button class="btn btn-link" routerLink="/empleo">
          <h4>Empleo</h4>
        </button>
        <button class="btn btn-link" routerLink="/prensa">
          <h4>Prensa</h4>
        </button>
      </div>
    </div>

  </div>
  <h2 style="color:white" align="center" class="align-middle">
    El equipo
  </h2>
</div>


<div class="border-radius-container d-flex justify-content-center" style="position: relative; top: -20vh; padding-top:15vh; margin-bottom: -20vh; overflow: hidden;">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-12" align="center">

        <h2>"En plac tenemos la capacidad de trabajar individualmente en equipo"</h2>
        <br><br><br>
        <br><br><br>
      </div>

    </div>
    <div class="row justify-content-center" style="margin-bottom: 60px">
      <div class="col-auto person pointer" [ngClass]="{'active':person == personSelected }" align="center" *ngFor="let person of team"
        (click)="selectPerson(person)">
        <img src="{{person.img}}"
          style="height: 100px; width: 100px;" class="rounded-circle">
        <br>
        {{person.firstName}}<br>{{person.lastName}}
      </div>

    </div>
    <div class="row justify-content-center d-none" style="margin-bottom: 60px">
      <div class="col-md-6 col-12 rounded" style="background-color: white; padding: 25px">
        <div class="row">
          <div class="col-md-8 col-12" align="center">
            {{personSelected.firstName}} {{personSelected.lastName}}
            <br>
            {{personSelected.workPosition}}
            <br><br>
            {{personSelected.description}}
          </div>
          <div class="col-md-4 col-12" align="center">
            <div style="height: 150px; width: 150px" class="rounded-circle bg-danger">

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>