.btn-light {
    background-color: transparent;
    border-color: transparent;
}

.btn-light:hover {
    background-color: #ededed;
}

.btn-light:hover>i {
    color: #00B99B;
}

.btn-light.color-dark-green-text:hover {
    color: #00B99B;
}

.avatar-question {
    vertical-align: middle;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: #065FD4;
    padding-top: 4px;
    padding-left: 2px;
    color: white;
    font-size: 20px;
}

.icon-question-answered {
    font-size: 25px !important;
    color: green;
}
