<div style="height: 90vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),url('/assets/img/what-is-view/fondo.png');
  background-position: top; 
  background-size: cover;"
  class="d-flex justify-content-center align-items-center">

  <h2 style="color:white" align="center">
    POLÍTICA DE CAMBIOS Y DEVOLUCIONES
  </h2>
</div>
<div class="border-radius-container d-flex justify-content-center" style="position: relative; top: -20vh; padding-top:15vh; margin-bottom: -20vh; overflow: hidden;">

  <div class="container">
    <div class="row justify-content-center">
      <div align="justify">


        <b>PET LOCATION AND CARE APP S.A.S (PLAC)</b> , dispone de un plazo para devoluciones de
        08 días hábiles a partir de la fecha en que se hace la entrega del producto en la dirección
        definida. Se debe notificar a nuestro equipo de Servicio al Cliente acerca de la devolución,
        antes de que se cumplan los 08 días hábiles de la entrega a través de alguno de estos
        canales: <b>llamando a la línea de Servicio al Cliente al 3212239 en Bogotá</b>, o escribirnos
        a contacto@placapp.com<br><br>
        En el caso de devoluciones para productos, será procedente el cambio del producto en los
        siguientes casos:<br>
        <ol>
          <li>Producto entregado no sea el solicitado.</li>
          <li>Producto sea defectuoso o se encuentre en mal estado (a este punto aplica como
            restricción la obligación del cliente de revisar muy bien a nivel estético el producto en
            compañía del transportador antes de firmar la guía “Recibo a Conformidad”. Si se firma
            sin revisar el producto se perderá el derecho de reclamación por avería, faltantes o
            causas que no correspondan a defectos de fábrica.</li>
          <li>No se aceptan las devoluciones que se generen por compras a guacales y/o vacunas.</li>
        </ol>
        <b>Tipos de devolución:</b><br>
        <ul>
          <li>Parcial: Aplica en los casos en los cuales el cliente desea cancelar uno o varios
            productos de su pedido.</li>
          <li>Total: Aplica cuando el cliente desea cancelar la totalidad de su pedido.</li>
        </ul>
        Para la devolución o cambio del producto el cliente deberá escribir un correo a
        contacto@placapp.com y presentar la factura de compra, en caso de no contar con ella,
        puede solicitar la constancia y/o certificado de compra, esto aplica para la ciudad de Bogotá.<br><br>
        Para cambios fuera de Bogotá, y teniendo en cuenta las condiciones establecidas en los
        numeras 1. 2 y 3, este será asumido por (PLAC), previa verificación y aprobación conforme a
        lo establecido en el presente documento.<br><br>
        Una vez tengamos la solicitud de devolución con los datos necesarios para la misma, (PLAC),
        le entregara un bono de recompra por el mismo valor de la compra realizada inicialmente, o si
        es cambio se le ara por el mismo o por otro producto del mismo valor o llegado el caso y este
        es de mayor valor puede pagar el excedente.<br><br>
        El producto deberá devolverse en óptimas condiciones, sin rastros de haber sido utilizado, con
        las etiquetas originales o en su defecto, si ya fueron retiradas, debes introducirlas en el
        empaque.<br><br><br><br>
      </div>
    </div>
  </div>
</div>