<div class="card-container-place d-inline-block border rounded align-top" align="center">

  <div style="height: 40%;">
    <img src="{{placePathImageLogo}}" class="img-card-place">
  </div>
  <div style="height: 40%;">
    <div>
      {{placeName}}
    </div>
    <div *ngIf="placeAssessment > 0" class="color-plac-text">
      <i class="fas fa-star" *ngFor='let stars of arrayAssessmentStars'></i>
      <i class="far fa-star" *ngFor='let stars of arrayAssessmentNoStars'></i>
    </div>
    <p class="text-muted block-ellipsis">{{placeDescription}}</p>
  </div>
  <div style="height: 20%;" class="d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-plac" (click)="selectPlace()">Entrar</button>
  </div>


</div>