.card-container-place {
    padding: 5px;
    margin-right: 20px;
    height: 280px;
    width: 200px;
    white-space: normal;
    background-color: #fdfdfd;
}

.img-card-place {
    height: 80%;
    max-width: 100%;
    margin: 8%;
}

.block-ellipsis {
    margin-top: 11px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 100%;
    font-size: 11px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-ellipsis.product {
    font-size: 14px;
}
