<div #element [attr.maxScrollLeft]="0" [attr.position]="0" [attr.showLeft]="false" [attr.showRight]="true" class="container-horizontal-slide">


  <!--Inico: flecha izquierda del scroll-->
  <div *ngIf="element.getAttribute('showLeft') === 'true'" (click)="scrollLeft(element)" class="arrow-scroll justify-content-center  d-none d-sm-none d-lg-flex">
    <i class="fas fa-angle-left color-dark-green-text"></i>
  </div>
  <!--Inico: flecha fin del scroll-->


  <ng-content></ng-content>


  <!--Inico: flecha derecha del scroll-->
  <div *ngIf="element.getAttribute('showRight') !== 'false' && (element.scrollWidth - element.clientWidth) > 0 " (click)="scrollRight(element)"
    class="arrow-scroll right  d-none d-sm-none d-lg-inline-block">
    <div class="d-flex justify-content-center align-arrow">
      <i class="fas fa-angle-right color-dark-green-text"></i>
    </div>
  </div>
  <!--Fin: flecha derecha del scroll-->



  <!--FIN: lista de productos scroll horizontal-->
</div>