.arrow-scroll {
    position: absolute;
    width: 60px;
    text-align: center;
    color: #333;
    background: rgba(248, 249, 250, 0.9);
    /*background: rgba(253, 253, 253,.9);*/
    transition: .3s;
    opacity: 1;
    height: inherit;
    border-radius: inherit;
    visibility: visible;
    align-items: center;
    -webkit-transform: inherit;
    transform: inherit;
    cursor: pointer;
    font-size: 30px;
    z-index: 1070;
}

.align-arrow {
    align-items: center;
    height: inherit;
}

.arrow-scroll.right {
    right: 15px;
}

.container-horizontal-slide {
    margin-bottom: 40px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 280px;
}

@media (min-width: 992px) {
    .container-horizontal-slide {
        overflow-x: hidden;
    }
}