<div class="container-top container-categories">

  <loader *ngIf="!categories"></loader>

  <div *ngIf="categories">


    <!--Item-->

    <div *ngFor="let category of categories">

      <div [id]="category.category_name" (click)="clickOnMenu($event)">

        <div class="contenedor-item">
          <span>
            <img [src]="category.category_image_url" width="20" height="20" class="d-inline-block align-top"> {{category.category_name}}
          </span>
        </div>

      </div>
    </div>



  </div>