.container-top{
    padding-top: 2px;
}

.contenedor-item{
    width: 100%; padding: 13px;
}

.contenedor-item:hover { 
    background-color:#F8F9FA;
    cursor: pointer;
}

.contenedor-item.sub-menu { 
    padding-left: 30px;
    width: auto;
}

.item-active{
    background-color:#F8F9FA;
}
