.container-top{
    padding-top: 2px;
}

.contenedor-item{
    width: 100%; padding: 13px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.contenedor-item:hover { 
    background-color:#F8F9FA;
    cursor: pointer;
}

.contenedor-item.sub-menu { 
    padding-left: 30px;
    width: auto;
}

.item-active{
    background-color:#F8F9FA;
}

