<div class="container-fluid">
  <div class="row container-category-color" [ngStyle]="{'background-color':(categoryPropieties)?categoryPropieties.category_color:''}">
    <div class="col no-padding container-category-image rotate-container-category-image" [ngStyle]="{'background-image': (categoryPropieties)?'url(' + categoryPropieties.category_img_url + ')':''}"></div>
    <div class="col-6 col-sm-auto  no-padding d-flex align-items-center justify-content-center category-title-container">
      <h1 class="d-none d-sm-none d-md-block text-center">{{categoryReceivedByRoute}}</h1>
      <h2 class="d-block d-sm-block d-md-none text-center">{{categoryReceivedByRoute}}</h2>
    </div>
    <div class="col no-padding container-category-image" [ngStyle]="{'background-image': (categoryPropieties)?'url(' + categoryPropieties.category_img_url + ')':''}"></div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center subcategory-container">
      <app-subcategories [categoryName]="categoryReceivedByRoute" (subcategorySelected)="changeSubcategory($event)"></app-subcategories>
    </div>
    <div class="col-sm-auto col-12 ng-sidebar">
      <app-brands></app-brands>
    </div>


    <div class="col-sm-auto col-12 container-products container-fluid">
      <loader *ngIf="loader"></loader>

      <ol class="breadcrumb color-dark-gray-text" style="background-color: transparent; margin-bottom: 0; min-height: auto;">
        <li class="breadcrumb-item">
          <span>Alimentos</span>
        </li>
        <li class="breadcrumb-item">
          <span>Barf</span>
        </li>
        <li class="breadcrumb-item active">
          <span>PIXIE</span>
        </li>
      </ol>

      <!--INICIO: lista de productos scroll horizontal-->
      <carousel-arrows *ngFor="let place of placesWithProducts">

        <!-- Inicio: Card perfil empresa-->
        <app-place-card [placeId]="place.place_id" [placeDescription]="place.place_description" [placePathImageLogo]="place.path_image_logo">
        </app-place-card>
        <!-- Fin: Card perfil empresa-->

        <!-- Inicio: Card producto-->
        <app-product-card *ngFor="let product of place.products.data" [productId]="product.product_id" [imgProduct]="product.product_images[0].url"
          [productName]="product.product_name" [productPrice]="product.product_price">
        </app-product-card>
        <!-- Fin: Card producto-->

        <!--FIN: lista de productos scroll horizontal-->
      </carousel-arrows>


    </div>
  </div>