/* You can add global styles to this file, and also import other style files */
/* para que el contenido se acople al nav SOLO FUNCIONA SI SE PONE ACA!*/
body { padding-top: 57px;}

/* darle el tamaño de el sidebar SOLO FUNCIONA SI SE PONE ACA!*/
.ng-sidebar{width: 280px !important;}

.avatar {
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.pointer{
    cursor: pointer;
}