.card-view{
    width: 185px;
    height: auto;
    margin: 7px;
}


.info-product-container{
    padding: 7px;
}


.product-name{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.product-price{
    font-weight: 600;
    color: #15d2bb;
    overflow: hidden;
    text-overflow: ellipsis;
}


.place-img-container{
    margin: 15px
}
.place-desciption{
    font-size: 12px
}

.carousel>ul {
    white-space: nowrap;
    overflow: hidden;
    margin: 10px 80px;
    text-align: left;
    list-style: none;
}
.carousel>ul>li {
    white-space: normal;
    position: relative;
    display: inline-block;
    left: 0;
    vertical-align: top;
    transition: .8s;
}
.carousel ul>li {
    width: 206px;
    padding: 0 20px;
    background-color: red;
    border: 1px solid
}

.arrow-scroll{
    position: absolute;
    width: 60px;
    text-align: center;
    color: #333;
    background: rgba(248, 249, 250, 0.9);
    transition: .3s;
    opacity: 1;
    height: inherit;
    border-radius: inherit;
    visibility: visible;
    display: flex;
    align-items: center;
    -webkit-transform: inherit;
    transform: inherit;
    cursor: pointer;
    font-size: 30px;
}
.arrow-scroll.right{
    right: 0;
}


.container-horizontal-slide {
    margin-bottom: 25px;
    width: 100%;
    overflow-x: hidden;
    overflow-y:hidden; 
    white-space: nowrap;
    height: 35vh; 
    font-size: 0.9vw;
}


.card-container{
    padding: 5px;
    margin-right: 10px;
    height: 35vh;
    width: 200px;
    white-space: normal;
}


.card-container:hover{
    cursor: pointer;
}

.card-container:hover > div >.img-card.img-product{
    opacity: 0.5;
    filter: alpha(opacity=50);
    
}

.block-ellipsis {
    display: block !important;
    display: -webkit-box !important;
    max-width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
    font-size: 12px !important;
    line-height: 1.4 !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  .block-ellipsis.product{
    font-size: 14px !important;
  }

  .img-card{
    height: 100%; max-width: 100%;
  }