<div align="center">
  <h1>{{CategoryReceivedByRoute}}</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <app-subcategories [categoryName]="CategoryReceivedByRoute"></app-subcategories>
    </div>
    <div class="ng-sidebar bg-light">
      <app-brands></app-brands>
    </div>
    <div class="pruebawit">
      <div class="container-fluid">

        <div class="row flex-row flex-nowrap" style="overflow-x: scroll" *ngFor="let placeWithProducts of placesWithProducts">

          <div class="col col-lg-2 card-block">
            <div class="place-img-container">
              <img class="mx-auto d-block img-fluid" width="65" src="https://tasteandocom.files.wordpress.com/2016/02/tresor1.jpg?w=276&h=276"
                alt="">
            </div>
            <div class="info-product-container text-center">
              <p class="place-desciption">
                Pasión por los animales, Pasión por el servicio, encuntra los productos má novedos y exclusivos importados de más de 17 paíes,
                únicos en Bogotá.
              </p>
              <a class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="col col-lg-2 card-block" *ngFor="let product of placeWithProducts.products">
            <img class="card-img-top" src="https://tasteandocom.files.wordpress.com/2016/02/tresor1.jpg?w=276&h=276" alt="">
            <div class="info-product-container">
              <p class="product-name">
                Cereal TESOR
              </p>
              <p class="product-price">
                $1000
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>