.no-margin {
    margin: 0px;
}

.img-product {
    width: 100%;
    height: 100%;
}

.margin-h3{
    margin-top:36px
}

/*informative-box*/

.informative-box {
    background-color: #fdfdfd;
    font-size: 13px;
    padding: 10px;
}

.icon-informative-box {
    font-size: 20px;
}

.informative-box>.img-icon {
    padding: 5px;
}

.img-icon>img {
    height: 25px;
}

.product-container-week {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
}

.product-main-week {
    height: 400px;
    width: 400px;
}

.product-sm-week {
    height: 190px;
    width: 190px;
}

.product-lg-week {
    height: 400px;
    width: 190px;
}

.margin-product-sm-week {
    margin-bottom: 20px;
}

.home-container {
    padding-right: 50px;
    padding-left: 50px;
}

.img-info {
    width: 100%;
}


@media (max-width: 991.98px) {
    .home-container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .product-main-week {
        width: 100%;
        height: 280px;
    }
}